@import url(https://fonts.googleapis.com/css?family=Libre+Barcode+39+Text);
@import url(https://fonts.googleapis.com/css?family=Russo+One);

body {
    background-color: #57616b;
    font-family: 'Russo One', sans-serif;
    color: #fff;
    position: relative;
    min-height: 100vh;
}



.fa-search{
    color: #fcf951ff;
    font-size: 35px;
    opacity: 0.7;
}

.fa-imdb {

    color: #fcf951ff;
    font-size: 50px;
    opacity: 0.7;


}

.fa-imdb:hover {
    cursor: pointer;
    color: black;

}

.fa-user-circle
{
    font-size: 50px;
}

.main-font
{
    font-family: 'Libre Barcode 39 Text', cursive;
    color: #fcf951ff;
    

}

.russo-one
{
    font-family: 'Russo One', sans-serif;
    color: #fcf951ff;

}

.modal-background-purple
{
    background-color: #422057ff;
}

.text-purple
{
    color: #422057ff;
}

.img-container{
    position:relative;
    display:inline-block;
  }
  .img-container .overlay{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: #fcf951ff;
    opacity:0;
    transition:opacity 500ms ease-in-out;
  }
  .img-container:hover .overlay{
     opacity:0.8;
     cursor: pointer;
  }
  .overlay span{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    color:#422057ff;
    opacity: 1;
  }

  .hr {
    background-color: #fcf951ff;
  }

  .footer-hr {
    background-color: #57616b;
  }

sep {
    color:  #fcf951ff ;
}

.vr{
    width : 1px ;
height : 100px ;
border-left: 6px solid #fcf951ff;
}

.border-gold {
  background-color: #fcf951ff;
}

dt{
    font-weight: normal;
}

.similar {

    border: 4px solid #fcf951ff ;
    border-radius: 2px;
}

.similar:hover {

    cursor: pointer;
    border: 4px solid #fff;
    border-radius: 2px;
    opacity: 0.8;

}
.fa-times-circle
{
    color: white ;
    font-size: 18px;

}

.fa-times-circle:hover
{
    opacity: 0.5;
    cursor: pointer;
}


.wrap {
    padding-bottom: 21.5rem;
}

.footer {
background-color: #131517; 
position: absolute;
  bottom: 0;
  width: 100%;
  height: 20.5rem;
  color: white;
  border-top: 2px solid #57616b;
  border-radius: 4px 4px 0 0;
}

.fa-2x 
{
    font-size: 2em;

}


.fa-php
{
    
    color: #4c6ef5;
    font-size: 2em;
}

.fa-bootstrap
{
    
    color: #563d7c;
    font-size: 2em;
}

.fa-instagram
{
    color: pink;

}

.fa-github
{
    color: white;

}

.fa-facebook-square
{
    color: #3b5998;

}

.tmdb-icon
{
    background-image: url("img/tmdb_icon.svg");
}

.dim-icon
{
    opacity: 0.6;
}

.dim-icon:hover
{
    opacity: 1;
}














