@import url(https://fonts.googleapis.com/css?family=Libre+Barcode+39+Text);
@import url(https://fonts.googleapis.com/css?family=Russo+One);

body {
    background-color: #422057ff;
    font-family: 'Russo One', sans-serif;
    color: #fff;
}

.fa-search{
    color: #fcf951ff;
    font-size: 35px;
    opacity: 0.7;
}

.main-font
{
    font-family: 'Libre Barcode 39 Text', cursive;
    color: #fcf951ff;
    

}

.russo-one
{
    font-family: 'Russo One', sans-serif;
    color: #fcf951ff;

}

.modal-background-purple
{
    background-color: #422057ff;
}

.text-purple
{
    color: #422057ff;
}

